{% extends 'mobile_store/base.html' %}
{% load staticfiles %}
	
{% block title_block %}
	About Mobile Store
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
	<div class="container">
		<h1 class ="jumbotron-heading">About Us</h1>
		<h5 class ="jumbotron-heading">Welcome to Mobile Store</h5>
	</div>
</div>

<div class="container">
		<p>
			Welcome to Mobile Store, your number one source for all things [product].
			We're dedicated to providing you the very best of [product], with an emphasis on [store characteristic 1], [store characteristic 2], [store characteristic 3].
		</p>

		<p>
			Founded in [year] by [founder name], Mobile Store has come a long way from its beginnings in [starting location].
			When [founder name] first started out, [his/her/their] passion for [brand message - e.g. "eco-friendly cleaning products"] drove them to start their own business.
		</p>

		<p>
			We hope you enjoy our products as much as we enjoy offering them to you.
			If you have any questions or comments, please don't hesitate to contact us.
		</p>

		<p>
			Mobile Store Team.
		</p>
</div>





	


	<!--
	<img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
	<img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat." />
	-->
{% endblock %}
