{% extends 'mobile_store/base.html' %}
{% load staticfiles %}



{% block title_block %} 
    Android
{% endblock %}


 
{% block body_block %}
<div class="jumbotron p-4">
	<div class="container">
		<h1 class ="jumbotron-heading"> 
            Android Products
		</h1>
			
    </div>
</div>


<div class="container">
    <!-- shows the android products using same layout as home -->
    <section class="text-center mb-4">

        <div class="row wow fadeIn">

            {% for phone in item_list %}
            <div class="col-lg-3 col-md-6 mb-4">
           
            <div class="card">

              
                <div class="view overlay">
                    <img src="{{ phone.get_static_url }}" class="card-img-top"
                    alt="Picture of the current phone" height=250 width=auto>
                    <a href="{{ phone.get_absolute_url }}">
                    <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
              

              
                <div class="card-body text-center">
               
                    <a href="" class="grey-text">
                    <h5>{{ phone.get_brand_display }}</h5>
                    </a>
                    <h5>
                    <strong>
                        <a href="" class="dark-grey-text">{{ phone.phone_name }}
                        <span class="badge badge-pill {{ phone.get_label_display }}-color">BUY</span>
                        </a>
                    </strong>
                    </h5>

                    <h4 class="font-weight-bold green-text">
                    <strong>£
                    {% if phone.discount_price %}
                        {{ phone.discount_price }}
                    {% else %}
                        {{ phone.price }}
                    {% endif %}
                    </strong>
                    </h4>

                </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </section>
    

     
    {% if is_paginated %}
    <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">
            {% if page_obj.has_previous %}
   
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
                </a>
            </li>
            {% endif %}

            <li class="page-item active">
                <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
                <span class="sr-only">(current)</span>
                </a>
            </li>
          
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}