{% extends 'mobile_store/base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} 
    Checkout
{% endblock %}




{% block body_block %}
  <!--Main layout-->
  <main >
    <div class="jumbotron p-4">

      <!-- Heading -->
      <h1 class="jumbotron-heading">Checkout</h1>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          <!--Card-->
          <div class="card">
		
			<!--Card content-->
			<form method="POST" class="card-body">
				{% csrf_token %}

           
              <!--address-->
              <div class="col-lg-4 col-md-12 mb-4">
                {%comment%} <input type="text" id="address" class="form-control" placeholder=""> {%endcomment%}
                <label for="address" class="">Street Address</label>
				{{ form.street_address }}
              </div>

              <!--address-2-->
              <div class="col-lg-4 col-md-12 mb-4">
               {%comment%} <input type="text" id="address-2" class="form-control" placeholder=""> {%endcomment%}
                <label for="address-2" class="">Flat Number (optional)</label>
				{{ form.apartment_address }}
              </div>

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-2">

                  <label for="country">Country</label>
                 {% comment %} <select class="custom-select d-block w-100" id="country" required>
                    <option value="">Choose...</option>
                    <option>United States</option>
                  </select> {% endcomment %}
				  {{form.country }}
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>

                </div>
                <!--Grid column-->


                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                  <label for="zip">Zip</label>
                  {%comment%} <input type="text" class="form-control" id="zip" placeholder="" required> {%endcomment%}
				  {{form.zip}}
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>

                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              

              <div class="d-block my-3">
			  {% for value, name in form.fields.payment_option.choices %}
                <div class="custom-control custom-radio">
                  <input id="{{ name }}" name="payment_option" value="{{value}}" type="radio" class="custom-control-input" required> 
				  <label class="custom-control-label" for="{{name}}">{{ name }}</label>
				  {%comment%} {{ form.payment_option }} {%endcomment%}
                </div>
                {% endfor %} 
                {%comment%} <div class="custom-control custom-radio">
                  <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="paypal">Paypal</label>
                </div> {% endcomment%}
              </div>
                        
              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Checkout</button>

            </form>

          </div>
          <!--/.Card-->

        </div>
        

    </div>
  </main>
  <!--Main layout-->


{% endblock %}
