{% extends 'mobile_store/base.html' %}
{% load staticfiles %}

{% block title_block %} 
    iPhone XR
{% endblock %}

{% block body_block %} 
<div class="jumbotron p-4">
	<div class="container">
        <h1 class ="jumbotron-heading">iPhone XR</h1>
    </div>
</div>

<div class="container-fluid">
    <div class="content-wrapper">	
		<div class="item-container">	
			<div class="container">	
				<div class="col-md-12">
					<div class="product col-md-3 service-image-left">
                    
						<centre>
							<img id="item-display" src="{% static 'images/iphone-xr-family.jpg' %}" alt=""></img>
						</centre>
					</div>
					
					<div class="container service1-items col-sm-2 col-md-2 pull-left">
						<centre>
							<a id="item-1" class="service1-item">
								<img src="{% static 'images/iphone-xr-black.png' %}" alt=""></img>
							</a>
							<a id="item-2" class="service1-item">
								<img src="{% static 'images/iphoneblackback.jpg' %}" alt=""></img>
							</a>
							<a id="item-3" class="service1-item">
								<img src="{% static 'images/iphonexrrange.jpg' %}" alt=""></img>
							</a>
						</centre>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}