{% extends 'mobile_store/base.html' %}




{% block title_block %} 
    Order Summary
{% endblock %}


 
{% block body_block %}
<div class="jumbotron p-4">
	<div class="container">
		<h1 class ="jumbotron-heading"> 
			{% if user.is_authenticated %}
				Here is your order: {{ user.username }}!
			{% endif %}
			
	</div>
</div>

<!-- also uses a bootstrap template for ecommerce order summary -->
<main>
    <div class="container">

    <div class="table-responsive text-nowrap">
    <h2>Order Summary</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Phone</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Price</th>
        </tr>
        </thead>
        
        <tbody>
        <!-- takes in items that are in order and gets details from them-->
        {% for order_item in object.items.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order_item.item.title }}</td>
            <td>{{ order_item.item.price }}</td>
            <td>
                <a href="{% url 'mobile_store:remove_single_item_from_basket' order_item.item.slug %}"><i class="fas fa-minus mr-2"></i></a>
                    {{ order_item.quantity }}
                <a href="{% url 'mobile_store:add_to_basket' order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
            </td>
            <td> <!--if it has a discount price it will display that,otherwise it will just display normal price-->
            {% if order_item.item.discount_price %}
                £{{ order_item.get_total_discount_item_price }}
            {% else %}
                £{{ order_item.get_total_item_price }}
            {% endif %}
            <a style='color: red;' href="{% url 'mobile_store:remove_from_basket' order_item.item.slug %}">
                <i class="fas fa-trash float-right"></i>
            </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='5'>Your cart is empty</td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
            </td>
        </tr>
        {% endfor %}
        {% if object.get_total %}
        <tr>
            <td colspan="4"><b>Order Total</b></td>
            <td><b>£{{ object.get_total }}</b></td> <!-- gets total order price-->
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-warning float-right ml-2' href="{% url 'mobile_store:checkout_page' %}">Proceed to checkout</a>
            <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    </div>
    </div>
</main>
{% endblock %}